<div class="event-box-container">
  <div class="left-header vert-padding">View</div>
  <div class="data-box vert-padding">

    <span class="horiz-padding">Changes in ownership <i class="fa fa-user" aria-hidden="true"></i> <input type="checkbox" checked></span>

    <span class="horiz-padding">Assessment <i class="fa fa-thumbs-up" aria-hidden="true"></i> <input type="checkbox" checked></span>
  </div>
  <div class="left-header vert-padding">Events</div>

  <div id="Eventline" #Eventline class="eventline">
      <div id="thumb" #Thumb draggable="true" (dragstart)="onDragStart()" (drag)="onDrag()"
           (dragend)="onDragEnd()" class="thumb" [ngStyle]="setThumb()"></div>
  </div>

</div>
