.pie-shell {
  width: 100%;
  margin: 10px 0 10px 0;
  background-color: #ebebeb;
  height: 110px;
}

.piechart {
  position: absolute;
  top: 170px;
  left: 100px;
  width: 100px;
}

.left-header {
  color: #1e4989;
  font-weight: bold;
  float: left;
  margin-left: 10px;
}

.left-date {
  position: absolute;
  top: 290px;
  left: 10px;
}
