<img id="dragImg" #dragImg class="dragImg" src=".\assets\images\dragimg.png">
<div class="slider-container">
  <div class="start-date">{{sliderStartDateStr}}</div>
  <div id="Slider" #Slider class="slider">
    <div class="inner" [ngStyle]="setInnerBar()"></div>
    <div id="LeftThumb" #LeftThumb draggable="true" (dragstart)="onDragStart()" (drag)="onLeftDrag()"
         (dragend)="onDragEnd()" class="thumb leftThumb" [ngStyle]="setLeftThumb()"></div>
    <div id="RightThumb" #RightThumb draggable="true" (dragstart)="onDragStart()" (drag)="onRightDrag()"
         (dragend)="onDragEnd()" class="thumb rightThumb" [ngStyle]="setRightThumb()"></div>
  </div>
  <div class="end-date">Today</div>
</div>
<div class="date-input-container">
  <div class="left-header">Time Span</div>
  <input class="input-box" type="text" [(ngModel)]="selStartDateStr" (change)="changeStartDateSel()">
  <input class="input-box right-input-box" type="text" [(ngModel)]="selEndDateStr" (change)="changeEndDateSel()">
</div>


