<div class="slider-container">
  <div class="start-date">{{startDateString}}</div>
  <div id="Slider" #Slider class="slider">
    <div class="inner" [ngStyle]="setInnerBar()"></div>
    <div id="LeftThumb" #LeftThumb draggable="true" (dragstart)="onLeftDragStart()" (drag)="onLeftDrag()"
         (dragend)="onLeftDragEnd()" class="thumb leftThumb" [ngStyle]="setLeftThumb()"></div>
    <div id="RightThumb" #RightThumb draggable="true" (dragstart)="onRightDragStart()" (drag)="onRightDrag()"
         (dragend)="onRightDragEnd()" class="thumb rightThumb" [ngStyle]="setRightThumb()"></div>
  </div>
  <div class="end-date"> Today</div>
</div>
<div class="date-input-container">
  <div class="left-header">Time Span</div>
  <input class="input-box" type="text" value="01/10/2017">
  <input class="input-box right-input-box" type="text" value="02/10/2017">
</div>


